@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helper styles */
html,body,#root { height: 100%; }
body { @apply bg-slate-50 text-slate-800; }
.dark body { @apply bg-slate-900 text-slate-100; }
